body {
  background-color: beige;
}

h2,
h1 {
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

h2 {
  color: blueviolet;
}

a {
  text-decoration: none;
}

div {
  background-color: lightgray;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  box-sizing: border-box;
}

p {
  padding: 30px;
  font-size: larger;
}

.contact {
  padding: 10px;
}

div .spoil {
  margin-left: 30px;
}
div .mytake {
  padding: 0px;
  margin-left: 30px;
}

#back-to-top {
  margin-top: 20px;
}

.fodd_beverage {
  display: flex;
  justify-content: space-evenly;
}

img {
  transition: transform 0.3s;
}
img:hover {
  /* border: solid 10px transparent;
  border-color: green; */
  transform: scale(1.2);
}

footer {
  margin-top: 10px;
  font-family: Monospace;
}

button:hover {
  background-color: green;
  color: white;
}

figcaption:hover {
  color: darkgreen;
}

form label {
  display: block;
  padding: 15px;
  font-size: large;
  font-weight: bolder;
}
form textarea {
  margin-left: 15px;
  display: inline-block;
}
input {
  margin-left: 15px;
}

table th {
  text-align: left;
  width: 280px;
  font-size: large;
}

table td {
  font-size: large;
}

ul li {
  font-size: large;
  /* color: midnightblue; */
  margin-top: 10px;
  margin-left: 10px;
  /* list-style-type: disc;
  color: blue; */
}

ul {
  list-style-type: disc;
  color: blue;
}
ul li span {
  color: black;
}
